@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html>

<head>
    <title>Cadastro Clientes</title>
    <link href="~/Content/meuCSS.css" rel="stylesheet" />
    <script src="~/Scripts/Funcoes.js"></script>
</head>

<body>
    <p id="paragrafo" style="color:red;">Meu texto qualquer</p>
    <p id="paragrafo2" style="color:red;">Meu texto qualquer</p>
    <input value="Qualquer Coisa" id="meunome" type="text" />
    <input type="text"/>
    <button onclick="alterarParagrafo('green','20pt','Verde tamanho 20','paragrafo');" >Verde e tamanho 20</button>
    <button onclick="alterarParagrafo('blue','15pt', 'Azul tamanho 15','paragrafo2');" >Azul e tamanho 15</button>
</body>

</html>
