@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html>

<head>
    <title>Cadastro Clientes</title>
</head>

<body>
    <script>
        var nome = "Fabio Leal";
    </script>

    <input type="text" onfocus="alert(nome)"/>
    <button style="color:red;">Clique Aqui</button>
</body>

</html>
